@mixin center-text{
    text-align: center;
}

@mixin center-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

@mixin font-size-large{
    font-size: clamp(3em, 5vw, 6em);
}

@mixin font-size-md{
    font-size: clamp(1.5em, 3vw, 2em);
}

@mixin font-size-sm{
    font-size: clamp(1em, 1.8vw, 2em);
}

@mixin div-width{
    width: calc(60vw + 10px); //use calc to make width be responsive and easy set positin and make sure fit container
}

@mixin container-width{
    width: calc(690% / 6);
}

@mixin element-width{
    width: calc(100% - 1em);
}

@mixin dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;   
}

$pink: #ff99cc;
$purple: #9933ff;
$darkPurple: #692aa7;
$red: #fa3535;

.darkMood{
    background-color: rgb(50, 32, 68);

    h2{
        color: #cb97ff;
        font-weight: 600;
    }

    input::placeholder{
       color: $pink;
    }
    input{
        background-color: inherit;
        color: $pink;
    }
    #show-inputs{
    #add-btn{
        background-color: inherit;
        color: #cb97ff;
        border: none;
    }
    }
    .item-style{
        color: $pink;
    }

}