@import 'general';
@import 'fonts';

*{
margin: 0;   
}

h1{
@include center-text;
background: linear-gradient(to bottom left, $purple 0%, $pink 100%);
padding: 5%;
@include font-size-large;
font-family: 'Rubik Puddles', cursive;
}