@import 'general';
@import 'fonts';

*{
margin: 0;   
}

header{
    background: linear-gradient(to bottom left, $purple 0%, $pink 100%);
    padding: 3%;

    h1{
    @include center-text;
    @include font-size-large;
    font-family: 'Rubik Puddles', cursive;
    }

    .icons{
        color: "#000000";
        cursor: pointer;
        margin-left: calc(90vw - 30px);
        display: inline-flex;
        @include font-size-md;
    }     
}

.p{
        @include center-text;
        margin-bottom: -3%;
        font-family: cursive;
} 
