@import 'general';
@import 'fonts';

#list{
@include center-div;
margin-top: 2%;
@include div-width;
}

h2{
    font-family: 'Oswald', sans-serif;
    color: $darkPurple;
    @include font-size-md;
    font-weight:100;
}

#show-inputs{
    padding-top: 4%;
    @include container-width;

    input{
    padding: 2% 0 2% 0;
    @include element-width;
    @include center-text;
    @include font-size-sm;
    }

    #add-btn{
        position: absolute;
        background-color: inherit;
        border: none;
        padding: 1.3%;
        @include font-size-sm;
        color: grey;
        cursor: pointer;
        font-weight: bold;
    }
}

