@import 'general';

.item-style{
    list-style: none;
    padding: 1%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    @include font-size-sm;
    @include div-width;

.status{
        display: flex;
        gap: 5px;
}
button{
        cursor: pointer;
        background: inherit;
        border: none;
        color: $red;
        font-weight: 900;
}
}
.red{
    @include dot;
    background-color:red;
}
.green{
    @include dot;
    background-color: green;
}
.yellow{
    @include dot;
    background-color: yellow;
}
.grey{
    @include dot;
    background-color: grey;
}
progress{
    
}